<div class="image">
  <div class="container-content">
    <div id="login-box">
      <div class="left">
        <h1>Sign up</h1>
        <input type="text" name="username" placeholder="Usuário" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Senha" />
        <input type="password" name="password2" placeholder="Repita a senha" />
        <input type="submit" name="signup_submit" value="Sign me up" />
      </div>

      <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>

        <button class="social-signin facebook">Entrar com facebook</button>
        <button class="social-signin twitter">Entrar com Twitter</button>
        <button class="social-signin google">Entrar com Google+</button>
      </div>
      <div class="or">OU</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
