<div class="container">
  <div class="center">
    <button class="btn" routerLink="/login">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>ENTRE</span>
    </button>
  </div>
</div>

<div class="container1">
  <div class="center1">
    <button class="btn1" routerLink="/sign-in">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border1">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>CADASTRAR</span>
    </button>
  </div>
</div>
