.container {
  width: 400px;
  height: 450px;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(63, 94, 18);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: rgba(3, 66, 3, 0.664);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(209, 203, 203);
  font-size: 18px;
  font-weight: 100;
}

/*************  botao 2 ****************/

.container1 {
  width: 400px;
  height: 450px;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.center1 {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn1 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(63, 94, 18);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn1:hover {
  transition: 1s ease-in-out;
  background: rgba(3, 66, 3, 0.664);
}

.btn1:hover svg {
  stroke-dashoffset: -480;
}

.btn1 span {
  color: rgb(209, 203, 203);
  font-size: 18px;
  font-weight: 100;
}
