<div class="container-content">
  <div class="tittle">
    <p>A tecnologia a serviço do campo</p>
    <span>DevAgro</span>
  </div>
</div>
<app-carroussel></app-carroussel>
<div class="container-info">
  <div class="informacoes">
    <h2>Mas afinal, do que se trata?</h2>
    <p class="pText">
      O DevAgro é uma ferramenta de gerenciamento de fazendas, grãos,
      funcionários e empresas. Ele traz uma forma fácil de gerenciar o que
      acontece em suas propriedades. Uma ferramenta on-line que pode ser
      acessada de qualquer lugar oferecendo a mais completa e confiável
      estrutura de informações do seu negócio.
    </p>
    <div class="div-info-ul">
      <ul class="lista-info">
        <li>Acompanhe sua produção;</li>
        <li>Gere gráficos;</li>
        <li>Visualise as próximas colheitas;</li>
        <li>Ajuste seus estoques;</li>
      </ul>
    </div>
  </div>
</div>
