<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Sobre</div>
        <p>DevAgro é uma ferramenta de gestão para todas as áreas do Agro.</p>
      </div>
      <div class="lower">
        <div class="topic">Contato</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone"></i>(XX) XXXX-XXXX</a>
        </div>
        <br />
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>devinagro@email.com</a>
        </div>
      </div>
    </div>
    <div class="media-icons">
      <div class="ico">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="siga">
        <p>Siga-nos nas redes</p>
      </div>
    </div>
    <div class="right box">
      <div class="topic">Receba nossa News Letter</div>
      <form action="#">
        <input type="text" placeholder="Digite seu e-mail" />
        <input type="submit" name="" value="Cadastrar" routerLink="/sign-in" />
        <div class="middle box">
          <p>Copyright &copy; 2022, DevAgro All Rights Reserved</p>
          <div><a>terms of use</a> | <a>Privacy Policy</a></div>
        </div>
      </form>
    </div>
  </div>
</footer>
